.userflair {
  display: inline-block;
  margin-left: .3em;
  margin-right: .3em;
  padding: 0 2px;
  border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-right-color: rgb(221, 221, 221);
    border-bottom-color: rgb(221, 221, 221);
    border-left-color: rgb(221, 221, 221);
  border-radius: 2px;
  unicode-bidi: isolate;
}
