@import '../_modern-night';

.dark() {
  .modern-dark();
  --link: #ccf;
  --primary: #000;
  --primary-alt: #222;
  --primary-bright: #444;
  --primary-alpha: #c006;
  --notification: #f60;
  --bg-newcontent: #262626;
}
