@import '../_modern';

.light() {
  .modern-light();
  --link: #359;
  --primary: #101010;
  --primary-alt: #222;
  --primary-bright: #232323;
  --primary-alpha: #c002;
  --notification: #f60;
  --bg-newcontent: #eee;
}
