{% extends 'user/base.html.twig' %}
{% from 'submission/_macros.html.twig' import submission %}

{% block head %}
  <link rel="canonical" href="{{ url('user_submissions', {username: user.username}) }}">
  {{ include('_includes/meta_pagination.html.twig', {pager: submissions}) }}
{% endblock %}

{% block site_nav_user_menu_active 'profile' %}

{% block title 'user.submissions'|trans %}

{% block body %}
  {{ include('user/_nav.html.twig', {current: 'user_favorites', user: user}, with_context=false) }}

  {% for submission in submissions %}
    {{ submission(submission) }}
  {% else %}
    <p class="no-entries">
      <small class="fg-muted text-md">{{ 'flash.no_entries_to_display'|trans }}</small>
    </p>
  {% endfor %}

  {{ include('_includes/pagination.html.twig', {pager: submissions}, with_context=false) }}
{% endblock %}
