<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ site_name() }}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="Postmill {{ app_version() }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('apple-touch-icon-precomposed.png') }}">
    <link rel="search" type="application/opensearchdescription+xml" href="{{ path('opensearch_description') }}" title="{{ site_name() }}">
  </head>
{% from '_macros/alert.html.twig' import alert %}
{% from '_macros/form.html.twig' import checkbox %}
{% block body %}
  {% if app.request.headers.has('Referer') and
    is_granted('IS_AUTHENTICATED_REMEMBERED') and
    not is_granted('IS_AUTHENTICATED_FULLY')
  %}
    {{ alert('flash.you_must_reauthenticate'|trans, 'notice', true) }}
  {% endif %}
    <div class="container">
        <audio ref="charmer" src="snakecharmer.mp3" id="charmer"></audio>
        <img src="egypt_logo.png" class="logo" />
        <form action="{{ path('login_check') }}" method="POST" class="form flow">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <input type="hidden" name="user_session" value="">
            {% if error %}
              <ul class="form-error-list">
                <li>{{ error.messageKey|trans(error.messageData, 'security') }}</li>
              </ul>
            {% endif %}
            <div class="form-flex form-flex--single-line form__row">
              <input class="form-control textinput"
                     type="text"
                     name="_username"
                     value="{{ last_username }}"
                     id="login-username"
                     placeholder="Username"
                     required>
            </div>

            <div class="form-flex form-flex--single-line form__row">
              <input class="form-control textinput" 
                     type="password"
                     name="_password"
                     id="login-password"
                     placeholder="Password"
                     required>
            </div>
            <div class="form-flex form-flex--single-line form-flex--no-collapse">
              <div class="form-flex__align" aria-hidden="true"></div>
              {{ checkbox({ name: '_remember_me', id: 'login-remember-me', checked: remember_me ?? true }) }}
              <label for="login-remember-me">{{ 'login.remember_me'|trans }}</label>
            </div>
            <div class="form-flex form-flex--single-line form-flex--no-collapse">
                <a href="{{ path('request_password_reset') }}">{{- 'login.reset_password'|trans -}}</a>
            </div>
            <button type="submit"><img src="rune.png" /></button>
        </form>
        <img src="pyramid.gif" class="pyramid" />
    </div>

    <style>
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before, blockquote:after {
	content: "";
	content: none;
}

q:before, q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container {
	height: 100vh;
	background: url("wall.png");
	display: grid;
	grid-template-columns: 1fr min-content 1fr;
	grid-template-rows: auto;
	justify-items: center;
	align-items: center;
	grid-template-areas: "." "logo" ".";
    color: #ffd;
}

.container a {
    color: #eec;
}

.container:before {
	background: url("bricks.gif");
	position: absolute;
	z-index: 100;
	content: " ";
	top: 0;
	bottom: 0;
	left: 0;
	width: 90px;
}

.container:after {
	background: url("bricks.gif");
	transform: scaleX(-1);
	position: absolute;
	z-index: 100;
	content: " ";
	top: 0;
	bottom: 0;
	right: 0;
	width: 90px;
}

.container .logo {
	max-width: 50vw;
	grid-area: "logo";
	grid-column: 2;
	grid-row: 1;
}

.container .form {
	grid-row: 2;
	grid-column: 2;
	display: flex;
	flex-direction: column;
	gap: 20px;
	z-index: 101;
}

.container .form button {
	background: none;
	border: none;
}

.container .form button img {
	max-width: 50px;
}

.container .form input.textinput {
	height: 30px;
	width: 250px;
}

.container .pyramid {
	grid-row: 3;
	grid-column: 2;
}
    </style>
    {% block javascripts %}
      {{ encore_entry_script_tags('fp') }}
    {% endblock javascripts %}
{% endblock body %}
</html>
